* {
  margin: 0px;
  box-sizing: border-box;
  font-family: cursive;
}
@media (min-width: 1024px) {
  .caixaInstruInt {
    display: grid;
    grid-template-columns: 2fr 400px;
  }

  .caixaInt {
    margin-top: 0;
    margin-left: 40px;
  }
}

@media (max-width: 1024px) {
  .caixaInt {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .caixaBemVindo {
    margin-top: 100px;
  }
}

@media (max-width: 454px) {
  .caixaInstruInt .caixaInstru {
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    display: flex !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav a {
    margin: 0px 10px;
  }

  #teste1 {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 288.98px) {
  .navbar-nav {
    flex-direction: column;
  }
}

body {
  background: rgb(199, 139, 51);
  background: linear-gradient(
    21deg,
    rgba(199, 139, 51, 1) 10%,
    rgba(224, 160, 58, 1) 36%,
    rgba(255, 77, 77, 1) 68%,
    rgba(190, 88, 88, 1) 100%
  );
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    21deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 52, 1) 19%,
    rgba(68, 68, 68, 1) 39%,
    rgba(68, 68, 68, 1) 58%,
    rgba(42, 42, 42, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  );
  margin-top: 100px;
  margin-bottom: -16px;
  text-align: center;
  color: white;
}

.container{
  width: 70%;
  height: 100%;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-inner {
  text-align: center;
  height: 100vh;
}

.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.carousel-control-prev{
  margin-top: 40%;
  width: 5%;
  height: 50%;
  background-color: gray;
  box-shadow: 0px 0px 10px black;
}

.carousel-control-next{
  margin-top: 40%;
  width: 5%;
  height: 50%;
  background-color: gray;
  box-shadow: 0px 0px 10px black;
}


.carousel-control-next-icon {
  background-image: url(../img/setaDireita.png);
}

.carousel-control-prev-icon {
  background-image: url(../img/setaEsquerda.png);
}

.carousel-control-prev:hover {
  transform: scale(1.05);
}

.carousel-control-next:hover {
  transform: scale(1.05);
}

.navbar-brand {
  font-size: 40px;
}

.navbar span {
  color: coral;
}

.caixaBemVindo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caixaBemVindo .bemvindo {
  text-shadow: 0px 0px 4px black;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 25px;
  transition: 0.7s ease-in-out;
  color: white;
}

.caixaBemVindo .bemvindo:hover {
  transform: scale(1.05);
  transition: 0.7s ease-in-out;
}

.caixaInstruInt .caixaInstru {
  text-shadow: 0px 0px 4px black;
  font-size: 20px;
  transition: 0.7s ease-in-out;
  border-radius: 30px;
  color: white;
  padding: 20px;
}

.caixaInstruInt .caixaInt {
  text-shadow: 0px 0px 4px black;
  font-size: 20px;
  color: white;
  transition: 0.7s ease-in-out;
  border-radius: 30px;
  padding: 20px;
}

.caixaInstruInt .caixaInt:hover {
  transform: scale(1.05);
  transition: 0.7s ease-in-out;
}

.caixaBemVindo .bemvindo .botaoBemVindo button {
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px 30px;
  transition: 0.7s ease-in-out;
  box-shadow: 0px 0px 10px black;
  background-color: #ccc(243, 245, 248, 0.144);
  cursor: pointer;
}

.caixaBemVindo .bemvindo .botaoBemVindo button:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 20px white;
  color: white;
}

.caixaBemVindo .bemvindo > h1 {
  text-shadow: 0px 0px 10px black;
}

.caixaInstruInt .caixaInstru .InInstru p,
h2,
h3,
h4 {
  margin: 20px;
}

/* Estilos para a barra de navegação */
.nav-link:hover {
  transition: 0.5s ease-in-out;
  color: coral;
}

header a {
  font-size: 20px;
  text-decoration: none;
}

header a {
  text-shadow: 0px 0px 8px white;
}
header {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    21deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 52, 1) 19%,
    rgba(68, 68, 68, 1) 39%,
    rgba(68, 68, 68, 1) 58%,
    rgba(42, 42, 42, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 0px 0px 40px 40px;
  box-shadow: 4px 4px 14px black;
}

.navbar a {
  margin: 0px 15px 0px 15px;
  color: white;
}

/* Estilos para os botões */
.btn {
  border-radius: 30px;
  box-shadow: 0px 0px 8px black;
  margin: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
  border-color: #117a8b;
  transform: scale(1.05);
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #a71d2a;
  border-color: #a71d2a;
  transform: scale(1.05);
}

.container button {
  background-color: #d15555c2;
  color: #fff;
  margin-bottom: 20px;
  z-index: 10000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
